/* rules missing in yui3 reset */
figure { margin:0; }

html, body { height:100%; }
#root { height:100%; }

main { height:100%; display:flex; flex-direction:column; }
    main > * { overflow:hidden; flex:0 0 auto; }

    main > .status-bar {}

    main > .buffer { flex:1; overflow-y:scroll; }
        main > .buffer > * { margin:5px 10px; }

    main > .input {}
        .input > input { width:100%; padding:10px; }
