/* rules missing in yui3 reset */
figure { margin:0; }

@import url("https://fonts.googleapis.com/css?family=Inconsolata");

/*---[ base ]-----------------------------------------------------------------------*/
*,
*:before,
*:after { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-overflow-scrolling:touch; }
*:focus { outline:none; }
::-moz-focus-inner { border:0; padding:0; }

html, body { height:100%; }
#root { height:100%; }