{
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ],
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-regenerator",
    "mobx-deep-action",
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ]
}
